{% extends 'base.html.twig' %}

{% block title %}
	Add book
{% endblock %}

{% block main %}

	{{ form_start(form) }}

	{{ form_label(form.ISBN, "ISBN") }}
	{{ form_widget(form.ISBN) }}

	{{ form_label(form.title, "Title") }}
	{{ form_widget(form.title) }}

	{{ form_label(form.summary, "Summary") }}
	{{ form_widget(form.summary) }}

	{{ form_label(form.description, "Description") }}
	{{ form_widget(form.description) }}

	{{ form_label(form.price, "Price") }}
	{{ form_widget(form.price) }}

	<section class="error">
		{{ form_errors(form.ISBN) }}
		{{ form_errors(form.title) }}
		{{ form_errors(form.summary) }}
		{{ form_errors(form.description) }}
		{{ form_errors(form.price) }}
	</section>
	<button type="submit">Add</button>

	{{ form_end(form) }}


{% endblock %}
