<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ asset("css/theme.css")}}"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		<title>
			{% block title %}
				book management
			{% endblock %}
		</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="{{ path("app_book_index") }}">Books</a>
				<a href="{{ path("app_editor_index") }}">Editors</a>
				<a href="{{ path("app_author_index") }}">Authors</a>
			</nav>

			<form action="{{ path("search_bookTitle", {"title": "searchTitle"}) }}" class="searchBar" method="get">
				<input type="text" name="searchTitle" id="searchTitle" placeholder="Title"/>
				<button type="submit">Search</button>
			</form>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
